// My Presentation (About me) cards
@import "./../../sass/variables"
@import "./../../sass/mixins"


.items-container 
    //width: 235px

    > i 
        &:hover
            cursor: pointer
            font-weight: 900

            > i.fa
                color: $brand-red
                transition: transform .4s
                transform: scale(2.1)

        > i 
            color: $brand-red



.btn-border-primary
    border: 1px solid $brand-red
    background-clip: border-box
    background: none
    color: $brand-red  
    +mBorderR(10px)
    
    //width: 50%
    height: 2rem

    font-family: $font-primary
    font-size: 1rem
    text-decoration: none
    text-transform: uppercase

    +mTransition(.6s, ease-out)

    a 
        +mTransition(.6s, ease-out)
        text-decoration: none
        color: $brand-red

    
    &:hover
        background-color: $brand-red
        color: $brand-white

        +mLinear-Gradient(to bottom right, $brand-red, $brand-gray)

    &:hover a
        color: $brand-white


.btn-border-secondary
    border: 2px solid $brand-blue
    background-clip: border-box
    background: none
    color: $brand-blue  
    +mBorderR(40px)
    
    width: 75%
    height: 2.5rem

    font-family: $font-third
    font-size: 1rem
    text-decoration: none
    text-transform: uppercase

    +mTransition(.5s, ease-out)

    &:hover
        background-color: $brand-blue
        color: $brand-white 
        

.btn-border-black
    border: 2px solid $brand-black
    background-clip: border-box
    color: $brand-black
    
    +mLinear-Gradient(to bottom right, $brand-white, $brand-gray)
    +mBorderR(10px)
    
    height: 2rem
    font-family: $font-primary
    font-size: 1rem
    text-decoration: none
    text-transform: uppercase
    padding: .2rem 2rem
    
    display: block
    margin: 0 auto


    +mTransition(.6s, ease-out)

    a 
        +mTransition(.6s, ease-out)
        text-decoration: none
        color: $brand-red

    
    &:hover
        background-color: $brand-black
        color: $brand-white

        +mLinear-Gradient(to bottom right, $brand-black, $brand-gray)

    &:hover a
        color: $brand-white
